body {

    background-image: url(./wf.avif);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    background-size: calc(100% + 60px);
    background-position-y: top;
    background-color: #0d133c;
    display: flex;
    flex-direction: column-reverse;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}
#title h1 {
    color: white;
    font-size: 4em;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    /* font-family: 'Permanent Marker', cursive; */
}